@page "/rc5-file"

@using Microsoft.AspNetCore.Components.Forms
@using System.IO
@using VeeRandomGenerator
@using VeeRandom.MD5
@using System.Globalization
@using Meziantou.Framework
@using System.Text
@using VeeRandom.RC5
@inject IGenerator Generator
@inject IJSRuntime JsRuntime

<PageTitle>Encrypt RC5</PageTitle>

<h1>Encrypt RC5</h1>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <div class="form-group">
                <label for="inputText">Enter a key:</label>
                <input type="text" id="inputText" class="form-control" @bind="inputText" />
            </div>
            <br />

            <label for="fileInput">Upload a file (max 1 GB):</label>
            <InputFile id="fileInput" OnChange="e => LoadFile(e)"></InputFile>

            @if (showErrorForFile)
            {
                <br />
                <span class="text-danger">File size exceeds the maximum allowed limit of 1 GB.</span>
            }

            @if (uploadedFile != null)
            {
                <div>
                    @uploadedFile.FileName
                    <progress value="@uploadedFile.UploadedBytes" max="@uploadedFile.Size"></progress>
                    @uploadedFile.UploadedPercentage.ToString("F1")%
                    (@FormatBytes(uploadedFile.UploadedBytes) / @FormatBytes(uploadedFile.Size))
                </div>
            }
        </div>

        <br />
        <button class="btn btn-primary" @onclick="EncryptFile" disabled="@(uploadedFile is null || !uploadedFile.IsLoaded || isComputingHash)">
            @if (isComputingHash)
            {
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span class="sr-only">Loading...</span>
            }
            else
            {
                <span>Encrypt</span>
            }

        </button>
        <br />
        <br />
        @if (!string.IsNullOrEmpty(hashResult))
        {
            <p>MD5 Hash Result:</p>
            <p>@hashResult</p>
        }
    </div>

    <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/decrypt-rc5-file">Decrypt</a>
</div>

@code {
    private string hashResult = "";
    private string inputText = "";
    private bool showErrorForFile = false;
    private long maxFileSize1Gb = 1024L * 1024L * 1024L;

    private bool isComputingHash { get; set; }
    private FileUploadProgress? uploadedFile;
    private CancellationTokenSource? cancellationTokenSource;


    private record FileUploadProgress(string FileName, long Size)
    {
        public byte[] Data { get; set; } = Array.Empty<byte>();
        public long UploadedBytes { get; set; }
        public double UploadedPercentage => (double)UploadedBytes / (double)Size * 100d;

        public bool IsLoaded => UploadedBytes == Size;
    }

    private async ValueTask LoadFile(InputFileChangeEventArgs e)
    {
        if (cancellationTokenSource != null)
        {
            cancellationTokenSource.Cancel();
        }

        cancellationTokenSource = new CancellationTokenSource();

        uploadedFile = default;

        IBrowserFile? file = e.File;

        if (file.Size > maxFileSize1Gb)
        {
            showErrorForFile = true;
            StateHasChanged();

            return;
        }

        showErrorForFile = false;

        uploadedFile = new FileUploadProgress(file.Name, file.Size);

        await using var timer = new Timer(_ => InvokeAsync(() => StateHasChanged()));
        timer.Change(TimeSpan.FromMilliseconds(500), TimeSpan.FromMilliseconds(500));

        byte[] buffer = System.Buffers.ArrayPool<byte>.Shared.Rent(4096);
        try
        {
            using var stream = file.OpenReadStream(maxAllowedSize: maxFileSize1Gb, cancellationTokenSource.Token);
            using var memoryStream = new MemoryStream();

            while (await stream.ReadAsync(buffer, cancellationTokenSource.Token) is int read && read > 0)
            {
                uploadedFile.UploadedBytes += read;

                memoryStream.Write(buffer.AsMemory().Slice(0, read).ToArray());
            }

            uploadedFile.Data = memoryStream.ToArray();
        }
        finally
        {
            System.Buffers.ArrayPool<byte>.Shared.Return(buffer);

            StateHasChanged();
        }
    }

    private string FormatBytes(long value)
    {
        return ByteSize.FromBytes(value).ToString("fi2", CultureInfo.CurrentCulture);
    }

    private async Task EncryptFile()
    {
        if (uploadedFile is not null && uploadedFile.IsLoaded && !isComputingHash)
        {
            try
            {
                isComputingHash = true;
                byte[] key = VeeMD5.HashBytes(Encoding.UTF8.GetBytes(inputText));

                var rc5 = new VeeRC5(key, Generator);
                var result = await Task.Run(() => rc5.Encrypt(uploadedFile.Data));
                var fileName = uploadedFile.FileName + ".enc";
                await JsRuntime.InvokeAsync<object>("BlazorDownloadFile.saveAsFile", fileName, "application/octet-stream", result);

                Console.WriteLine();
            }
            finally
            {
                isComputingHash = false;
            }
        }
    }
}

<script>
    window.BlazorDownloadFile = {
        saveAsFile: function (fileName, contentType, dataURL) {
            const blob = new Blob([dataURL], { type: contentType });
            const url = window.URL.createObjectURL(blob);

            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = url;
            a.download = fileName;
            document.body.appendChild(a);

            a.click();

            window.URL.revokeObjectURL(url);
            document.body.removeChild(a);
        }
    };
</script>