@page "/generator-parameters"
@using Microsoft.Extensions.Options;
@using VeeRandom.Generator;
@using System.Text
@using VeeRandomGenerator;
@attribute [RenderModeServer]
@inject IGenerator Generator
@inject IOptions<GeneratorSettings> GeneratorSettings

<PageTitle>Generator parameters</PageTitle>

<h1>Generator parameters</h1>

<div>
    <p><strong>Period:</strong> @period</p>
    <p><strong>Modulus:</strong> @modulus</p>
    <p><strong>Multiplier:</strong> @multiplier</p>
    <p><strong>Increment:</strong> @increment</p>
    <p><strong>Initial Value:</strong> @initialValue</p>
</div>

@code {
    long period;
    long modulus;
    long multiplier;
    long increment;
    long initialValue;

    protected override void OnInitialized()
    {
        period = Generator.GetPeriod();
        modulus = GeneratorSettings.Value.Modulus;
        multiplier = GeneratorSettings.Value.Multiplier;
        increment = GeneratorSettings.Value.Increment;
        initialValue = GeneratorSettings.Value.InitialValue;
    }
}