@page "/verify-file"

@using Microsoft.AspNetCore.Components.Forms
@using System.IO
@using VeeRandom.Server.Services
@using VeeRandomGenerator
@using VeeRandom.MD5
@using System.Globalization
@using Meziantou.Framework
@using System.Text
@using VeeRandom.RC5
@inject IGenerator Generator
@inject IJSRuntime JsRuntime
@inject DigitalSignatureService digitalSignatureService

<PageTitle>Verify file signature</PageTitle>

<h1>Verify file signature</h1>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="fileInput">Upload a file to verify:</label>
            <InputFile id="fileInput" OnChange="e => LoadFile(e)"></InputFile>

            <br />

            <label for="signatureInput">Upload the signature file:</label>
            <InputFile id="signatureInput" OnChange="e => LoadSignatureFile(e)"></InputFile>

            @if (showErrorForFile)
            {
                <br />
                <span class="text-danger">File size exceeds the maximum allowed limit of 1 GB.</span>
            }

            @if (uploadedFile != null && uploadedSignatureFile != null)
            {
                <div>
                    @uploadedFile.FileName
                    <progress value="@uploadedFile.UploadedBytes" max="@uploadedFile.Size"></progress>
                    @uploadedFile.UploadedPercentage.ToString("F1")%
                    (@FormatBytes(uploadedFile.UploadedBytes) / @FormatBytes(uploadedFile.Size))
                </div>

                <div>
                    @uploadedSignatureFile.FileName
                    <progress value="@uploadedSignatureFile.UploadedBytes" max="@uploadedSignatureFile.Size"></progress>
                    @uploadedSignatureFile.UploadedPercentage.ToString("F1")%
                    (@FormatBytes(uploadedSignatureFile.UploadedBytes) / @FormatBytes(uploadedSignatureFile.Size))
                </div>
            }
        </div>

        <br />
        <button class="btn btn-primary" @onclick="VerifyFileM" disabled="@(uploadedFile is null || uploadedSignatureFile is null || !uploadedFile.IsLoaded || !uploadedSignatureFile.IsLoaded || isVerifying)">
            @if (isVerifying)
            {
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span class="sr-only">Verifying...</span>
            }
            else
            {
                <span>Verify</span>
            }
        </button>

        <br />

        @if (!string.IsNullOrEmpty(result))
        {
            <p>Result:</p>
            <p>@result</p>
        }
    </div>

    <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/sign-file">Sign file</a>
</div>

@code {
    private string result = string.Empty;
    private bool showErrorForFile = false;
    private long maxFileSize1Gb = 1024L * 1024L * 1024L;

    private bool isVerifying { get; set; }
    private FileUploadProgress uploadedFile;
    private FileUploadProgress uploadedSignatureFile;
    private CancellationTokenSource cancellationTokenSource;

    private record FileUploadProgress(string FileName, long Size)
    {
        public byte[] Data { get; set; } = Array.Empty<byte>();
        public long UploadedBytes { get; set; }
        public double UploadedPercentage => (double)UploadedBytes / (double)Size * 100d;

        public bool IsLoaded => UploadedBytes == Size;
    }

    private async ValueTask LoadFile(InputFileChangeEventArgs e)
    {
        await LoadFileCommon(e, uploadedFile, (file, progress) => uploadedFile = progress);
    }

    private async ValueTask LoadSignatureFile(InputFileChangeEventArgs e)
    {
        await LoadFileCommon(e, uploadedSignatureFile, (file, progress) => uploadedSignatureFile = progress);
    }

    private async ValueTask LoadFileCommon(InputFileChangeEventArgs e, FileUploadProgress fileProgress, Action<IBrowserFile?, FileUploadProgress> setFile)
    {
        if (cancellationTokenSource != null)
        {
            cancellationTokenSource.Cancel();
        }

        cancellationTokenSource = new CancellationTokenSource();

        IBrowserFile? file = e.File;

        if (file.Size > maxFileSize1Gb)
        {
            showErrorForFile = true;
            StateHasChanged();
            return;
        }

        showErrorForFile = false;

        fileProgress = new FileUploadProgress(file.Name, file.Size);

        await using var timer = new Timer(_ => InvokeAsync(() => StateHasChanged()));
        timer.Change(TimeSpan.FromMilliseconds(500), TimeSpan.FromMilliseconds(500));

        byte[] buffer = System.Buffers.ArrayPool<byte>.Shared.Rent(4096);
        try
        {
            using var stream = file.OpenReadStream(maxAllowedSize: maxFileSize1Gb, cancellationTokenSource.Token);
            using var memoryStream = new MemoryStream();

            while (await stream.ReadAsync(buffer, cancellationTokenSource.Token) is int read && read > 0)
            {
                fileProgress.UploadedBytes += read;
                memoryStream.Write(buffer.AsMemory().Slice(0, read).ToArray());
            }

            fileProgress.Data = memoryStream.ToArray();
        }
        finally
        {
            System.Buffers.ArrayPool<byte>.Shared.Return(buffer);

            setFile(file, fileProgress);
            StateHasChanged();
        }
    }


    private string FormatBytes(long value)
    {
        return ByteSize.FromBytes(value).ToString("fi2", CultureInfo.CurrentCulture);
    }

    private async Task VerifyFileM()
    {
        if (uploadedFile is not null && uploadedFile.IsLoaded &&
            uploadedSignatureFile is not null && uploadedSignatureFile.IsLoaded && !isVerifying)
        {
            try
            {
                isVerifying = true;

                var r = await Task.Run(() => digitalSignatureService.VerifyData(uploadedFile.Data, uploadedSignatureFile.Data));

                result = r.ToString();
            }
            finally
            {
                isVerifying = false;
            }
        }
    }
}